.ab-img{
    width: 100%;
}
/* 
.page-heading {
    background-color: #6674cc;
    padding: 20px;
    text-align: center;
}

.page-heading h1 {
    color: #dfddf5;
    font-size: 36px;
}


.department-container {
    padding: 20px;
}

.department-data {
    background-color: #6dadfb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.nav-tabs .nav-item .nav-link {
    color: #333;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    font-weight: bold;
}

.nav-tabs .nav-item .nav-link.active {
    border-bottom-color: #007bff;
}


.tab-content {
    padding: 20px;
}


.syllabus-table {
    overflow-x: auto;
}

.syllabus-table table {
    width: 100%;
    border-collapse: collapse;
}

.syllabus-table th,
.syllabus-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e4e3e3;
}

.syllabus-table th {
    background-color: #d9d6d6;
}

.syllabus-table tbody tr:nth-child(even) {
    background-color: #dcdada;
} */